/*
All css design from layout are made here
this changes will apply on Defaultlayout.js*/


#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
}
.ant-layout-has-sider {
  padding: 15px !important;
}
.ant-layout-sider {
  border-radius: 10px !important;
}

.ant-layout-sider-children {
  padding-top: 15px;
  padding-right: 20px;
  height: 95vh;
}
.ant-layout-header {
  margin: 0 10px !important;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.anticon svg {
  height: 20px;
  width: 20px;
  font-size: 25px;
}
.title {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}
.username h5 {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}
.ant-menu-item-selected {
  background-color: #5890ff !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.logout {
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}
.currentBalance{
  padding: 10px;
  border-top: 12px solid rgb(35, 175, 42);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}
.maintenence{
  margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid orange;
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}

.lease-dates p{
  background-color: rgb(196, 196, 196);
  font-weight: bold;
  
}

.SharedDocuments{
  background-color: rgb(235, 235, 235);
  font-weight: bold;
  height: 50px;
 padding: 10px;
 
  
}
.payment-table td{
  padding: 12px 15px;


}
.circle-icon-two {
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.circle-icon {
  background: rgb(100, 192, 39);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.headDoc th,
.headDoc td {
    padding: 12px 15px;
}
.headDoc thead tr{
  background-color: rgb(229, 226, 226);
  
}

.headDoc {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  
}
.ShareDocumentsCard{
  margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid rgb(105, 33, 221);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}


.current-lease{
  margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid purple;
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
}
.renter-insurance{
  
 margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid rgb(252, 67, 175);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}

.paymentMethod{
  padding: 10px;
  border-top: 12px solid rgb(39, 110, 202);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}

.form-contact {
  padding: 10px;
  border-top: 12px solid rgb(39, 110, 202);
  background-color: white;

  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
}

.mydiv1 {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  
}
.mydiv {
  padding: 20px;
  margin: 10px;
}

.contentcontainer {
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}
.layout{
  background-color: rgb(246, 253, 255);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logoCard{
  display: inline-block;
  
}
.cardLogin{
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70%;
  min-width: 30%;
  background-color: white;
  background-position:center ;
  position: fixed;
  background-size: cover;
}
.loginConst{
  padding: 50px;
}
.header-name{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
  .property-detils{
    padding: 10px;
  border-top: 12px solid rgb(45, 0, 128);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
  }

  .payment-card{
    padding: 10px;
  border-top: 12px solid rgb(100, 192, 39);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
  }
  .maintenence-card{
    padding: 10px;
    border-top: 12px solid orange;
    margin-top: 20px;
  background-color: white;
    border-radius: 3px;
    padding-top: 10px;
    box-shadow: 0 0 10px #ccc;

  }


  .completed-button{
    background-color: rgb(52, 255, 52);
    border-radius: 8px;
    min-width: 30px;
    height: 30px;
    border: 5;
    font-weight: bold;
    

  }

  .card-container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 20px;


  }
  .section-cards{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card{
    flex: 0 0 calc(33.33%-20px);
    max-width: calc(33.33%-20px);
    width: 100%;
    background: blue;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;

  }
  .card:hover{
    border-color: red;
  }


  @media (max-width: 600px){
    .card{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

.wrapper{
  display: flex;
  flex-flow: row wrap;

}
.wrapper>*{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header{
  background:tomato;
  height: 120px;

}

.main{
 
  background: deepskyblue;
  height: 300px;
  font-size: 24px;
}

.aside1{
  padding: 10px;
  border-top: 12px solid rgb(35, 175, 42);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
}

.aside2{
  padding: 10px;
  border-top: 12px solid rgb(236, 40, 122);
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
}

.aside3{
  margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid purple;
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;
}

.aside4{
  margin-bottom: 10px;
  padding: 10px;
  border-top: 12px solid orange;
  margin-top: 20px;
background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 0 0 10px #ccc;

}
@media all and (min-width: 800px)
  {
    .main{
      flex: 3;
    }

    .aside1{
      order: 1;
    }

    .aside2{
      order: 2;
    }

    .aside3{
      order: 1
    }
    .aside4{
      order: 2
    }

   
   
  }
@media all and (min-width:600px) {
  .aside{
    flex: 1;
  }
 
}
